DATABASE_URL=
BETTER_AUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_PRO_YEARLY_PRICE_ID=
STRIPE_STUDIO_PRICE_ID=
STRIPE_STUDIO_YEARLY_PRICE_ID=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
STRIPE_FOUNDER_PRICE_ID=
